@model UserCollectionViewModel

<div class="anchor block_flex_column justify-content-start">
    <span class="block_margin-top_normal block_align_center text_size_title block_font-limit_title">Авторы</span>
    <div class="search block_align_center block_margin-top_normal">
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Найти</button>
        </form>
    </div>
    <div class="main__content block_flex_row block_flex_wrap justify-content-between block_margin-top_normal block_scroll_enable block_scrollbar_hide">
        @{
            foreach (var author in Model.Users)
            {
                <div class="author__item script_animate element_hover_transform element_hover_primary-shadow block_position_relative block_justify_center block_flex_column justify-content-end align-items-center element_shadow_smooth element_border-radius_smooth">
                    <form asp-action="@*Author(author)*@"><button type="submit" class="button button-overlay block_position_absolute"></button></form>
                    <img src="static-pic/photos/author.jpg" alt="Нет Изображения" class="img img_stretch element_border-radius_top">
                    <span class="author__title element_border-radius_smooth element_border-radius_bottom site_theme_reversed">@(author.LastName + " " + author.FirstName)</span>
                </div>
            }
        }
        @* <div class="author__item script_animate element_hover_transform element_hover_primary-shadow block_position_relative block_justify_center block_flex_column justify-content-end align-items-center element_shadow_smooth element_border-radius_smooth"> *@
        @*     <form asp-action="Author"><button type="submit" class="button button-overlay block_position_absolute"></button></form> *@
        @*     <img src="~/static-pic/photos/author.jpg" alt="Нет Изображения" class="img img_stretch element_border-radius_top"> *@
        @*     <span class="author__title element_border-radius_smooth element_border-radius_bottom site_theme_reversed">Manfree George</span> *@
        @* </div> *@
    </div>
</div>