@{
    ViewData["Title"] = "Create User";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Password is @ViewData["Password"]. There were @ViewData["Count"] fields in form. Have a nice day.</p>
</div>