@{
    ViewData["Title"] = "Create User";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>User @ViewData["FirstName"] created. There were @ViewData["Count"] fields in form.</p>
</div>