@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div class="anchor main__title-screen">
        <span class="block_justify_center block_position_absolute text_theme_bold text_size_title text_theme_spaced">AGENCY</span>
        <img class="main__title-icon element_opacity_middle" src="static-pic/icons/TitleBack.svg" alt="">
        <span class="main__welcome site_font_thin text_theme_spaced">Добро пожаловать!</span>
    </div>
    <div class="anchor main__title-screen">
        <img class="main__title-icon block_justify_center element_opacity_middle" src="static-pic/icons/SpecialTitle.svg" alt="">
    </div>
    <div id="info" class="footer footer-position anchor site_theme_primary">
        <span class="footer__copyright footer__item block_justify_bottom">2021 Agency</span>
    </div>
</div>