@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div class="anchor main__title-screen">
        <span class="block_justify_center block_position_absolute text_theme_bold text_size_title text_theme_spaced">AGENCY</span>
        <img class="main__title-icon element_opacity_middle" src="~/static-pic/icons/TitleBack.svg" alt="">
        <span class="main__welcome site_font_thin text_theme_spaced">
            <a href="#specials" class="link_clean">
                <svg class="icon_size_large icon_transition_down bi bi-chevron-compact-down script_animate" viewBox="0 0 16 16">
                    <path fill="var(--primary-color)" fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                </svg>
            </a>
        </span>
    </div>
    <div id="specials" class="anchor main__title-screen">
        <img class="main__title-icon block_justify_center element_opacity_middle" src="~/static-pic/icons/SpecialTitle.svg" alt="">
        <div class="main__content block_position_absolute block_flex_column">
            <a asp-controller="Account" asp-action="Register">Sign Up</a>
            <a asp-controller="Account" asp-action="CreateDesigner">Create Designer</a>
        </div>
    </div>
    <div id="info" class="footer footer-position anchor site_theme_primary">
        <span class="footer__copyright footer__item block_justify_bottom">2021 Agency</span>
    </div>
</div>