@{
    ViewData["Title"] = "Подтверждение";
}
@using static BCrypt.Net.BCrypt
@using BCrypt.Net

<div class="anchor block_flex_column">
    <div class="main__content text-center">
        <h1 class="display-4">Подтверждение</h1>
        <p>@ViewData["Text"]</p>
    </div>
</div>
