@{
    ViewData["Title"] = "Email confirmation";
}
@using static BCrypt.Net.BCrypt
@using BCrypt.Net

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check your email and confirm your registraion, please.</p>
</div>