@{
    ViewData["Title"] = "Заказ успешно создан";
}

<div class="anchor">
    <div class="text-center main__content">
        <h1 class="display-4">Заказ успешно создан</h1>
        <span>@ViewData["Text"]</span>
    </div>
    
</div>