@{
    ViewData["Title"] = "Восстановление пароля";
}
@using Org.BouncyCastle.Asn1.Ocsp
@model RecoveryViewModel

<div class="anchor">
    <div class="text-center main__content">
        <h1 class="display-4">Восстановление пароля</h1>
        @if ((bool) ViewData["Post"])
        {
            <span>Письмо с дальнейшими инструкциями было выслано на Вашу почту.</span>
        }
        else
        {
            <span>Введите Email вашего аккаунта</span>
            @using (Html.BeginForm("Recovery", "Account", FormMethod.Post))
            {
                <div class="block_flex_column align-items-center">
                    <div class="col-md-4 text-left">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="user-info form-control site_theme_primary element_border_primary" placeholder="user@@example.org">
                        <div class="invalid-feedback visible">
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                </div>
                <input type="submit" value="Восстановить" class="btn btn-fill-secondary block_margin-top_small"/>
            }
        }
    </div>
    
</div>