@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
<h2>Спасибо!</h2>
<p>Ваша учетная запись была успешно активирована. Пожалуйста, залогиньтесь в свою учетную запись.</p>
</div>